@(id: Int, questaoForm: Form[forms.QuestaoFormData], usuario: Usuario, listas: Seq[Lista])(implicit request: RequestHeader, flash: Flash, messages: Messages)

@import helper._

@main("Nova questão (L" + id + ") | Professor - Inspetor Online", Some(usuario), Some(listas)) {
  <div class="section">
    <div class="container">
      <h5 class="teal-text center flow-text">Incluir nova questão</h5>
    </div>
  </div>
  <div class="row">
    <form class="col s8 offset-s2" action="@routes.ProfessorController.createQuestao(id)" method="post" enctype="multipart/form-data">
      @CSRF.formField
      <div class="input-field">
          <label>Número:</label>
          <input type="number" id="numero" name="numero" class="form-control" required>
      </div>

      <div class="input-field">
          <label>Enunciado:</label>
          <input type="text" id="enunciado" name="enunciado" class="form-control" required>
      </div>

      <div class="input-field">
          <label>Gabarito</label>
          <textarea id="gabarito" name="gabarito" class="materialize-textarea" placeholder="Coloque o código nesta região" required></textarea>
      </div>

      <div class="input-field">
          <label>Exemplo de entrada:</label>
          <textarea id="entrada" name="entrada" class="materialize-textarea" placeholder="Coloque a entrada nesta região"></textarea>
      </div>

      <div class="input-field">
          <label>Exemplo de saída:</label>
          <textarea id="saida" name="saida" class="materialize-textarea" placeholder="Coloque a entrada nesta região" required></textarea>
      </div>

      <div class="file-field input-field">
          <div class="btn">
              <span>Arquivo</span>
              <input type="file" name="testes" id="testes" multiple>
          </div>
          <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Enviar um ou mais arquivos de teste">
          </div>
      </div>

      <div class="input-field">
          <button type="submit" class="waves-effect btn-large">Enviar</button>
          <a class="btn-large red" href="@routes.ProfessorController.questoes(id)">Voltar</a>
      </div>
    </form>
  </div>

}
