@(id: Int, questoes : Seq[models.Questao], usuario: Usuario, listas: Seq[Lista])(implicit request: RequestHeader, flash: Flash, messages: Messages)

@import helper._

@main("Questões (L" + id + ") | Professor - Inspetor Online", Some(usuario), Some(listas)) {
  <div class="section">
    <div class="container">
      <h5 class="teal-text center flow-text">Questões</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <ul class="collapsible popout" data-collapsible="accordion">
        @for((questao, index) <- questoes.zipWithIndex){
          @if(questao.listaID == id){
            <li>
              <div class="collapsible-header @if(index == 0) {active}">
                <i class="material-icons">subject</i>Questão: @questao.numero
              </div>
              <div class="collapsible-body">
                  <div class="row">
                      <div class="col s12">
                          @questao.enunciado
                      </div>
                  </div>
                  <div class="row">
                      <div class="col s12">
                          Gabarito:
                          </br><samp>@Html(questao.gabaritoToHtml)</samp>
                      </div>
                  </div>
                  @if(!questao.entrada.isEmpty) {
                      <div class="row">
                          <div class="col s12">
                              Exemplo de entrada:
                              </br>@Html(questao.entradaToHtml)
                          </div>
                      </div>
                  }
                  <div class="row">
                      <div class="col s12">
                          Exemplo de saída:
                          </br>@Html(questao.saidaToHtml)
                      </div>
                  </div>
              </div>
            </li>
         }
       }
     </ul>
     <a href="@routes.ProfessorController.novaQuestao(id)" class="waves-effect waves-circle btn-floating">
       <i class="material-icons">add</i>
     </a>
     <a href="@routes.ProfessorController.listas" class="red accent-2 waves-effect waves-circle btn-floating">
       <i class="material-icons">navigate_before</i>
     </a>
    </div>
  </div>
}
