@(id: Long, questoes : Seq[models.Questao])(implicit request: RequestHeader)

@import helper._

@main("Questões (L" + id + ") | Professor - Eval Plataform") {

    <div class="heading">
        <h5>Questões</h5>
    </div>
    <div class="row">
            <table class="table striped">
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Enunciado</th>
                        <th>Gabarito</th>
                        <th>Entrada</th>
                        <th>Saída</th>
                    </tr>
                </thead>
                <tbody>
                    @for(questao <- questoes){
                        @if(questao.idLista == id){
                            <tr>
                                <td>@questao.numero</td>
                                <td>@questao.enunciado</td>
                                <td class="gabaritosize"><samp>@questao.gabarito</samp></td>
                                <td><samp>@questao.entrada</samp></td>
                                <td><samp>@questao.saida</samp></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <a href="@routes.ProfessorController.novaQuestao(id)" class="btn btn-info" role="button">Incluir nova questão</a>
            <a href="@routes.ProfessorController.listas" class="red btn">Voltar</a>
    </div>

}
