@(lid: Long, alunoForm: Form[forms.AlunoFormData], qid: Long)(implicit request: RequestHeader)

@main("Responder (Q" + qid + "L" + lid + ") | Aluno - Eval Plataform") {

  <div class="heading">
        <h5>Nova resposta</h5>
    </div>
    <div class="row">
    <form class="col s8 offset-s2" action="@routes.AlunoController.novaResposta(lid, qid)" method="post">
      <div class="input-field">
        <label>Questao</label>
        <input type="text" name="questao" id="questao" value="@qid" readonly/>
      </div>
      <div class="input-field">
        <label>Resposta:</label>
        <textarea id="resposta" name="resposta" class="materialize-textarea" placeholder="Coloque o código nesta região" required></textarea>
      </div>
      <div class="input-field">
        <button type="submit" class="btn btn-primary">Enviar</button>
        <a class="btn red" href="@routes.AlunoController.questoes(lid)">Voltar</a>
      </div>
    </form>
  </div>

}
