@(lid: Int, alunoForm: Form[forms.RespostaFormData], qid: Int, usuario: Usuario)(implicit request: RequestHeader, flash: Flash, messages: Messages)

@import helper._

@scripts = {
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('select').material_select();
        });
        var editor = ace.edit('codigo');
        editor.getSession().setMode('ace/mode/scala');

        //$('form').on('submit', function(e) {
        //    $('#codigo-area').val(editor.getSession().getValue());
        //});

        $('#linguagem').on('change', function() {
            editor.getSession().setMode('ace/mode/' + $(this).val());
        });
    </script>
}

@main("Responder (Q" + qid + "L" + lid + ") | Aluno - Inspetor Online", Some(usuario), None, scripts) {
  <div class="section">
    <div class="container">
      <h5 class="teal-text center flow-text">Nova Resposta</h5>
    </div>
  </div>
    <div class="row">
    <form class="col s8 offset-s2" action="@routes.AlunoController.novaResposta(lid, qid)" method="post" enctype="multipart/form-data">
      @CSRF.formField
      <div class="input-field col s12">
          <select name="linguagem" id="linguagem" class="browser-default">
            <option value="" disabled selected>Escolha a linguagem</option>
            @*<option value="potigol">Potigol</option>*@
            <option value="ruby">Ruby</option>
            <option value="scala">Scala</option>
          </select>
      </div>
      <div id="codigo"></div>
      <textarea id="codigo-area" rows="10" style="resize: none;" name="dados" required></textarea>
      <div class="input-field">
        <button type="submit" class="btn btn-primary">Enviar</button>
        <a class="btn red" href="@routes.AlunoController.questoes(lid)">Voltar</a>
      </div>
    </form>
  </div>

}
