@(id: Int, questoes: Seq[models.Questao], usuario: Usuario)(implicit request: RequestHeader, flash: Flash, messages: Messages)

@main("Questões (L" + id + ") | Aluno - Inspetor Online", Some(usuario), None) {
  <div class="section">
    <div class="container">
      <h5 class="teal-text center flow-text">Questoes da Lista</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <ul class="collapsible popout" data-collapsible="accordion">
        @for((questao, index) <- questoes.zipWithIndex){
          @if(questao.listaID == id){
            <li>
              <div class="collapsible-header @if(index == 0) {active}">
                <i class="material-icons">subject</i>
                Questão: @questao.numero
              </div>
              <div class="collapsible-body">
                <p>@questao.enunciado </br></br>
                  <a href="@routes.AlunoController.novaResposta(questao.listaID, questao.id)" class="blue waves-effect waves-circle btn-floating">
                    <i class="material-icons">border_color</i>
                  </a>
                </p>
              </div>
            </li>
         }
       }
     </ul>
     <a class="right btn red" href="@routes.AlunoController.listas">Voltar</a>
    </div>
  </div>

}
