@(id: Long, questoes: Seq[models.Questao])(implicit request: RequestHeader)

@main("Questões (L" + id + ") | Aluno - Inspetor Online") {
  <div class="section">
    <div class="container">
      <h5 class="teal-text center flow-text">Questoes da Lista</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <ul class="collapsible popout" data-collapsible="accordion">
        @for(a <- questoes){
          @if(a.idLista == id){
            <li>
              <div class="collapsible-header">
                <i class="material-icons">subject</i>
                Questão: @a.numero
              </div>
              <div class="collapsible-body">
                <p>@a.enunciado </br></br>
                  <a href="" class="blue waves-effect waves-circle btn-floating">
                    <i class="material-icons">border_color</i>
                  </a>
                </p>
              </div>
            </li>
         }
       }
     </ul>
     <a class="right btn red" href="@routes.AlunoController.listas">Voltar</a>
    </div>
  </div>

}
