/*NOVO*/
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1 0 auto;;
}

#cor{
  background-color: #364b71;
}

#index-banner{
  background-image: url('../images/6.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  min-height: 450px;
}
