@(
loginForm: Form[forms.LoginForm.Data],
socialProviders: com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
)(
    implicit request: RequestHeader,
    messages: Messages,
    webJarAssets: WebJarAssets
)

@main(Messages("login.titulo")) {
    @helper.form(action = routes.LoginController.enviar()) {
        @helper.CSRF.formField
        @helper.inputText(loginForm("email"),
            '_label -> null,
            'type -> "email",
            'placeholder -> Messages("cadastro.form.email"),
            '_showConstraints -> false)
        @helper.inputPassword(loginForm("senha"),
            '_label -> null,
            'placeholder -> Messages("cadastro.form.senha"),
            '_showConstraints -> false)
        @helper.checkbox(loginForm("lembrarMe"),
            '_label -> null,
            '_showConstraints -> false)

        <button id="submit" type="submit" value="submit">@Messages("login.form.enviar")</button>
    }
}
