@(id: Long, alunoForm: Form[model.AlunoFormData], questoes : Seq[model.Questao])(implicit request: RequestHeader)

@main("Welcome to Play") {

    <div class="heading">
	    <h5>Nova resposta</h5>
	</div>
	<div class="row">
  <table class="table striped">
          <thead>
            <tr>
              <th>Quentões</th>
              <th>Enunciado</th>
              <th>Responder</th>
            </tr>
          </thead>
          <tbody>
            @for(questao <- questoes){
              @if(questao.idLista == id){
                <tr>
                  <a href="/novaquestaoaluno"><td>@questao.numero</td></a>
                </tr>
              }
            }
          </tbody>
        </table>
  </div>

}
