@(title: String, usuario: Option[Usuario] = None, listas: Option[Seq[Lista]], scripts: Html = Html(""))(content: Html)(implicit request: RequestHeader, flash: Flash, messages: Messages)

@import helper._

<!DOCTYPE html>
<html>
  <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("materialize/css/materialize.css")" media="screen,projection" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body class="site">
    <header>

        <div class="navbar-fixed">
            <nav role="navigation" id="cor">
                <div class="nav-wrapper container">
                    <a href="@routes.MainController.index" class="brand-logo right"><samp>&nbsp;Inspetor Online</samp></a>
                    <!--SideNavMenu-->
                    <ul id="slide-out" class="side-nav">
                        @for(u <- usuario) {
                            <li>
                                <div class="userView">
                                    <img class="background" src="@routes.Assets.versioned("images/6.jpg")">
                                    <a href="#!user"><img class="circle" src="@routes.Assets.versioned("images/codingo.png")"></a>
                                    <a href="#!name"><span class="white-text name">@u.nomeCompleto</span></a>
                                    <a href="#!email"><span class="white-text email">@u.email</span></a>
                                </div>
                            </li>
                            <li>
                                <a href="@routes.AutenticacaoController.logout">Sair</a>
                            </li>
                            <li><div class="divider"></div></li>
                            @if(u.papel == "admin") {
                                <li><a class="waves-effect" href="@routes.AdminController.alterarPapel">Alterar Papel</a></li>
                            }
                            @if(u.papel == "professor" || u.papel == "admin") {
                                <li><a class="waves-effect" href="@routes.ProfessorController.listas">Minhas listas</a></li>
                                <li class="no-padding">
                                    <ul class="collapsible collapsible-accordion">
                                    <li>
                                        <a class="collapsible-header">Listas<i class="material-icons">arrow_drop_down</i></a>
                                        <div class="collapsible-body">
                                        <ul>
                                            @for(l <- listas) {
                                                @for(lista <- l) {
                                                    <li><a href="@routes.ProfessorController.questoes(lista.id)">@lista.nome</a></li>
                                                }
                                            }
                                        </ul>
                                        </div>
                                    </li>
                                    </ul>
                                </li>
                            }
                            @if(u.papel == "aluno" || u.papel == "admin") {
                                <li><a class="waves-effect" href="@routes.AlunoController.respostas">Minhas respostas</a></li>
                            }
                        }
                        </ul>
                        @if(!usuario) {
                            <a href="#modalLogin" class="modal-trigger"><i class="large material-icons">perm_identity</i></a>
                        } else {
                            <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
                        }
                </div>
            </nav>
        </div>
    </header>

    <!--login modal-->
    <div id="modalLogin" class="modal">
      <div class="modal-content">
        <h2 class="center-align">Login</h2>
        <div class="center-align">
            <div class="divider"></div>
            <form class="col s12" action="@routes.AutenticacaoController.login" method="post">
                @CSRF.formField
                <div class="row center-align">
                    <div class="input-field col m10 offset-m1 blue-text">
                        <i class="mdi-action-account-circle prefix"></i>
                        <input id="icon_prefix" type="text" class="validate" name="email">
                        <label for="icon_prefix">E-mail</label>
                    </div>
                    <div class="input-field col m10 offset-m1 blue-text ">
                        <i class="mdi-action-lock-open prefix"></i>
                        <input id="icon_password" type="password" class="validate" name="senha">
                        <label for="icon_password">Senha</label>
                    </div>
                    <div class="input-field col m10 offset-m1 blue-text">
                        <input type="checkbox" class="blue-text" id="filled-in-box" value="true" checked="checked" name="lembrarMe">
                        <label for="filled-in-box">Lembrar-me</label>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <button class="btn btn-flat white modal-close">Cancel</button> &nbsp;
                    <button type="submit" class="waves-effect waves-blue blue btn btn-flat modal-action modal-close">Login</button>
                </div>
                <p>Não possui uma conta? <a href="@routes.CadastroController.cadastro">Cadastre-se</a></p>
            </form>
        </div>
      </div>
    </div>




    <main class="site-content">
        @content
    </main>
    <footer class="page-footer" id="cor">
    @*
      <div class="container">
       <div class="row">
         <div class="col l6 s12">
           <h5 class="white-text">Footer Content</h5>
           <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
         </div>
         <div class="col l4 offset-l2 s12">
           <h5 class="white-text">Links</h5>
           <ul>
             <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
             <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
           </ul>
         </div>
       </div>
      </div>
      *@
      <div class="footer-copyright">
         <div class="container">
           © 2016 TADS
           @*<a class="grey-text text-lighten-4 right" href="#!">More Links</a>*@
         </div>
      </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("materialize/js/materialize.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/ace/src-min/ace.js")" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.modal-trigger').leanModal();
        });
        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
          }
        );
    </script>
    @scripts
  </body>
</html>
