@(listas : Seq[model.Lista])(implicit request: RequestHeader)

@import helper._

@main("Welcome to Play") {
	    <div class="heading">
	        <h5>Listas de exercícios</h5>
	    </div>
	    <div class="row">
	        <div class="col s8 offset-s2">
           	<table class="table striped">
			    <thead>
				    <tr>
					    <th>Nome</th>
					    <th>Assunto</th>
				    </tr>
			    </thead>
			    <tbody>
				    @for(lista <- listas){
						<tr>
							<td><a href="@routes.HomeController.questoes(lista.id)">@lista.nome</a></td>
							<td>@lista.assunto</td>
						</tr>
				    }
			    </tbody>
		    </table>
		    <a href="@routes.HomeController.novalista" class="wave-effects red accent-1 btn" role="button">Nova Lista</a>
	        <a class="btn red" href="@routes.HomeController.index">Voltar</a> 
	        </div>
	    </div>
	</div>

}
