@(listas : Seq[model.Lista])(implicit request: RequestHeader)

@import helper._

@main("Welcome to Play") {

    <div class="heading">
	    <h5>Listas de questões a resolver</h5>
	</div>
	<div class="row">
	    <div class="col s8 offset-s2">
		    <table class="table striped">
			    <thead>
				    <tr>
					    <th>Lista</th>
					    <th>Enunciado</th>
				    </tr>
			    </thead>
			    <tbody>
				    @for(lista <- listas){
					    <tr>
						    <td><a href="@routes.HomeController.questoeslista(lista.id)">@lista.nome</a></td>
						    <td>@lista.assunto</td>
					    </tr>
				    }
			    </tbody>
		    </table>
		    <a class="btn red" href="/aluno">Voltar</a>
		</div>
	</div>


}
