@(id: Long, questoes: Seq[model.Questao])(implicit request: RequestHeader)

@main("Welcome to Play") {

    <div class="heading">
      <h5>Questões da lista</h5>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <table class="table striped">
        <thead>
          <tr>
            <th>Questões</th>
            <th>Enunciado</th>
            <th>Responder questão</th>
          </tr>
        </thead>
        <tbody>
           @for(a <- questoes){
             @if(a.idLista == id){
              <tr>
                <td>@a.numero</td>
                <td>@a.enunciado</td>
                <td><a href="@routes.HomeController.alunoresposta(id, a.numero)">Responder</a></td>
              </tr>
            }
          }
        </tbody>
      </table>
      <a class="btn red" href="/novaresposta">Voltar</a> 
    </div>
  </div>

}
